:root {
  --another-text: #757575;
  --hover-focus-color: #188ce8;
  --back-color-dark: #2f303a;
  --back-color-light: #f5f4fa;
  --color-but: #2196f3;
  --light-text-color: #ffffff;
  --card-set-gep: 30px;
}

.hero {
  text-align: center;
  max-width: 696px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 60px;
  margin-right: auto;
  margin-left: auto;
}

.line {
  border-bottom: 1px solid #ececec;
}
.head-line {
  display: flex;
}
.conteiner-content {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.distans {
  padding-top: 94px;
  padding-bottom: 94px;
}

.upper-text h3 {
  font-size: 14px;
  line-height: 16px;
}
.upper-text p {
  font-size: 14px;
  line-height: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.text-paragraph p {
  color: var(--another-text);
  font-weight: 400;
}
.text-paragraph-connect a {
  color: var(--another-text);
}

.logo {
  font-family: Raleway;
  size: 26px;
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  margin-right: 93px;
}
.logo .in-span {
  color: var(--hover-focus-color);
}
.head-nav a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  size: 14px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
}
nav {
  display: flex;
  align-items: center;
}
.head-nav {
  display: flex;
}

.hero-distans {
  padding-top: 200px;
  padding-bottom: 200px;
}

.head-nav:last-child {
  margin-left: auto;
}
.head-nav li:not(:last-child) {
  margin-right: 50px;
}

.photo {
  display: flex;
}
.card {
  display: flex;
}
.card-set .content {
  margin-top: 20px;
  margin-bottom: 20px;

  margin-left: 24px;
  margin-right: 24px;
}
.card-set .content p {
  margin-top: 4px;
}
.card .content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.card .content p {
  margin-top: 10px;
}

.card li:not(:last-child) {
  margin-right: 30px;
}
.photo li:not(:last-child) {
  margin-right: 30px;
}

.distans-top {
  padding-top: 94px;
}
.button-portfolio {
  margin-right: 8px;
  display: flex;
  justify-content: center;
}
.button-portfolio li:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 56px;
}
.button-portfolio button {
  padding: 6px 22px 6px 22px;
  font-size: 16px;
  line-height: 26px;
}

.active-page {
  color: var(--hover-focus-color);
}
.head-nav a:hover,
.head-nav a:focus {
  color: var(--hover-focus-color);
}
button {
  background-color: #f5f4fa;
  border-width: 0;
  font-size: 10px;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  font-weight: 500;
}
.active-button {
  background-color: var(--color-but);
  color: var(--light-text-color);
}
.order-servis {
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
button:hover,
button:focus {
  background-color: var(--hover-focus-color);
  color: #ffffff;
}

.addr {
  color: #ffffff;
  font-weight: 400;
}
.addr a {
  color: rgb(255, 255, 255, 0.6);
  margin-top: 9px;
  display: block;
}

.addr a:hover,
.addr a:focus {
  color: var(--light-text-color);
}

.back-color-dark {
  background-color: var(--back-color-dark);
}

.back-color-light {
  background-color: var(--back-color-light);
}

.back-color-dark .logo {
  color: #ffffff;
  padding-bottom: 20px;
  display: block;
}
.upper-text h1,
.upper-text h3 {
  text-transform: uppercase;
}

.upper-text li {
  max-width: 270px;
}
.upper-text p {
  margin-top: 10px;
}

.card li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-text-color);
  max-width: 270px;
}
.card-set {
  padding: 0;
  margin-bottom: 94px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gep));
  margin-top: calc(-1 * var(--card-set-gep));
}

.card-set .item {
  flex-basis: calc(100% / 3 - var(--card-set-gep));
  margin-left: var(--card-set-gep);
  margin-top: var(--card-set-gep);
  border: 1px solid #eeeeee;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin: 0px;
}
h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}
.size-h3 h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.icon-text h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.icon-text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  color: #212121;
  text-decoration: none;
}
body {
  margin: 0px;
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  margin: 0px;
}
